<div class="container mt-2 col-12">
   
    <table class="table col-12 text-light m-1">
      <thead>
         <tr>
         <th scope="col">Flight's code</th>
         <th scope="col">Destination</th>
         <th scope="col">Date</th>
         <th scope="col">Ticket price</th>
         <th scope="col">Departure time</th>
         <th scope="col">Arrival time</th>
         </tr>
     </thead>
       <tbody>
           <%dane.forEach(flights => {%>
           <tr>
               <th scope="row" ><%= flights.code %></th>
               <td><%= flights.destination %></td>
               <td><%= flights.date %></td>
               <td><%= flights.price%>pln</td>
               <td><%= flights.departureTime%></td>
               <td><%= flights.arrivalTime%></td>
               
               
               <!-- <td> <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Confirm reservation
               </button> -->
               <!-- </td>   -->
           </tr>
           <%})%>
       
       </tbody>
       
      <thead>
          <tr>
          <th scope="col">You have selected:</th> 
          <td><span id="count">0</span></td>
          <td>seats for a price of </td>
          <td><span id="total">0</span> PLN</td>
          </tr>
       </thead>
 
       <thead>
          <tr>
          <th scope="col">Luggage options: </th> 
          <td default="handy for free">your choice: </td>
          <td>......</td>
          </tr>
      </thead>
 
 
      <thead>
       <tr>
       <th scope="col">Total payment: </th> 
       <td>......... </td>
     
       </tr>
   </thead>
 
   </table>
 </div>